.article{
    &__content{
        padding-bottom: 60px;
        border-bottom: 2px solid #ccc;
        margin-bottom: 60px;
        p{
            text-align: left;
        }
    }
}

@include mobile{
    .article{
        .container{
            .article__content{
                padding: unset;
            }
        }
    }
}